<?php
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * You can check the licence at this URL: http://cedcommerce.com/license-agreement.txt
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 *
 * @category    Ced
 * @package     Ced_Walmart
 * @author      CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CEDCOMMERCE (http://cedcommerce.com/)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>

<div class="entry-edit" id="support_kb">

	<div class="entry-edit-head">
		<h4 class="icon-head head-edit-form fieldset-legend">Cedcommerce Support</h4>
	</div>
	<div class="fieldset">
		<a target="_blank" href="http://marketplace.walmart.com/knowledgebase/">Walmart Integration Knowledge base</a>
	</div>

</div>
<div class="entry-edit" id="support_kb">

	<div class="entry-edit-head">
		<h4 class="icon-head head-edit-form fieldset-legend">Documentation</h4>
	</div>
	<div class="fieldset">
		<a target="_blank" href="http://cedcommerce.com/cedgen/index/download/?file=walmart/walmart-magento-1-integration.pdf">Walmart Integration Extension User  Guide</a>
	</div>

</div>

<div class="entry-edit" id="integration_video">

	<div class="entry-edit-head">
		<h4 class="icon-head head-edit-form fieldset-legend">Walmart-Magento Integration Video</h4>
	</div>
	<div class="fieldset">
		<ul>
			<li style="margin-bottom:10px;margin-top:10px;">
				<a target="_blank" href="https://youtu.be/sFOhhX0iAOw">Walmart-Magento Integration Video</a>
			</li>
		</ul>
	</div>

</div>
<div class="entry-edit" id="integration_faqs">

	<div class="entry-edit-head">
		<h4 class="icon-head head-edit-form fieldset-legend">Walmart-Magento Integration FAQs</h4>
	</div>
	<div class="fieldset">
		<ul>
			<li style="margin-bottom:10px;margin-top:10px;">
				<a target="_blank"
				   href="http://cedcommerce.com/blog/api-integration/walmart-api-integration/how-to-sell-on-walmart-marketplace/">
					How to sell on Walmart Marketplace?
				</a>
			</li>
			<li style="margin-bottom:10px;margin-top:10px;">
				<a target="_blank" href="http://cedcommerce.com/blog/api-integration/walmart-api-integration/walmart-marketplace/">
					How to get API keys from Walmart Marketplace ?
				</a>
			</li>

			<li style="margin-bottom:10px;margin-top:10px;">
				<a target="_blank" href="http://marketplace.walmart.com/knowledgebase/articles/Article/Defining-Attributes">
					How to Define Attributes For Item Setup?
				</a>
			</li>
			<li style="margin-bottom:10px;margin-top:10px;">
				<a target="_blank" href="http://marketplace.walmart.com/knowledgebase/articles/File_Download/Selecting-The-Best-Category-For-An-Item">
					How to Select The Best Category For An Item?
				</a>
			</li>
			<li style="margin-bottom:10px;margin-top:10px;">
				<a target="_blank" href="http://marketplace.walmart.com/knowledgebase/articles/Article/How-To-Set-Up-A-Variant-Group">
					How To Set Up A Variant Group/Products?
				</a>
			</li>
			<li style="margin-bottom:10px;margin-top:10px;">
				<a target="_blank" href="http://marketplace.walmart.com/knowledgebase/articles/File_Download/Current-Taxware-Tax-Codes-for-the-Walmart-Marketplace">
					How to Choose Current Tax Codes For The Walmart Marketplace?
				</a>
			</li>
			<li style="margin-bottom:10px;margin-top:10px;">
				<a target="_blank" href="http://cedcommerce.com/blog/api-integration/walmart-api-integration/generate-upc-code/">
					How to generate UPC code ?
				</a>
			</li>
		</ul>
	</div>

</div>