<?php
$category_level_0 = $this->getFilteredWalmartCollection(0);
$category_level_1 = $this->getFilteredWalmartCollection(1);
$category_level_2 = $this->getFilteredWalmartCollection(2);

$current_id = $this->getWalmartCategoryId();

$parent = '';
$root = '';
$child = '';

/*$level_2 = array();
foreach ($category_level_2 as $arr) {
      if($arr['csv_cat_id'] == $current_id){
          $child = $arr['csv_cat_id'];
          $parent = $arr['csv_parent_id'];
      }
      $level_2[$arr['csv_parent_id']][$arr['csv_cat_id']] = $arr['name'];
}
$json_subchild_arr = json_encode($level_2);*/

$level_1 = array();
foreach ($category_level_1 as $arr) {
      if(($parent != '') && ($arr['csv_cat_id'] == $parent)){ $root = $arr['csv_parent_id'];}
      elseif($arr['csv_cat_id'] == $current_id){ $parent = $arr['csv_cat_id'];$root = $arr['csv_parent_id']; }

      $level_1[$arr['csv_parent_id']][$arr['csv_cat_id']] = $arr['name'];
}

$json_child_arr = json_encode($level_1);
$level_0 = array();
foreach ($category_level_0->getData() as $arr) {
     $level_0[$arr['csv_cat_id']] = $arr['name'];
}
$json_parent_arr = json_encode($level_0);

//$walmartMappedParent_id = $this->getWalmartCategoryId('csv_parent_id');
//$walmartMappedChild_id = $this->getWalmartCategoryId('csv_cat_id');


$allmappedIds = $this->getWalmartMappedIds();
$walmartMappedParent_id = $allmappedIds['csv_parent_id'];
$walmartMappedChild_id = $allmappedIds['csv_cat_id'];
$showcatflag = false;
?>

<div style="" id="category_info_tabs_walmart_categorymapping_content">
  <div class="entry-edit">
    <div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend">Walmart Category Mapping</h4>
    <div class="form-buttons"></div>
</div>
    <div id="custom_category_tab_form" class="fieldset ">
    <?php $root_cat_id = Mage::registry('current_category')->getParentId();
    $current_catId = Mage::registry('current_category')->getId();

    if($root_cat_id == '' || $root_cat_id == 0 || $root_cat_id == 1)
    { ?>
            <p>Select Sub Category , Walmart does not allow to map with root category. </p>
    <?php }else{
        $showcatflag = true;
    }
    ?>
    <?php
    if($root_cat_id != '' && $root_cat_id != 0 && $root_cat_id != 1)
    { ?>
               <p>Select Preferred Walmart Category to be Mapped </p>
      <div class="hor-scroll" id="pro_walmart">
        <input type="hidden" name="custom_tab_text_walmart" id="custom_tab_text_walmart" value="">
       
         <input type="hidden" class=" input-text" value="" name="custom_tab_text_walmart_parent" id="custom_tab_text_walmart_parent"> 
      </div>
      <?php }
      ?>

    </div>
   </div>
</div>

  <script type="text/javascript">
     function removeValidationMessagewalmart(){
            if(document.getElementById("advice-c_class_map_walmart-c_id_map_walmart")){
              var elem = document.getElementById("advice-c_class_map_walmart-c_id_map_walmart");
              elem.parentElement.removeChild(elem);
            }
     }

  function selectedValue(id){
    if(document.getElementById(id)){
        var f = document.getElementById(id);
        var strUser = f.options[f.selectedIndex].value;
        return strUser;
    }
    return false;
  }
    Validation.add("c_class_map_walmart","Walmart doesn't entertain uploading pro_walmartduct on root category . Plz choose desired child category",function(){
         var root = selectedValue('p_id_map_walmart');
         var parent = selectedValue('c_id_map_walmart');
         if(root && (parent != 'na'))return true;
         return false;
    });

     function childCategorywalmart(id,check){
      var current_catId = "<?php echo $current_catId ?>";
      var showcatflag = "<?php echo $showcatflag ?>";
      console.log(showcatflag);
      if(document.getElementById(id) != undefined){
         var e = document.getElementById(id);
         var strUser = e.options[e.selectedIndex].value;
         
          $('custom_tab_text_walmart').value = strUser;
  //test code
          if(strUser == 'Other' && check == 'child')
          {
             var e = document.getElementById('p_id_map_walmart');
          
             var strUser1 = e.options[e.selectedIndex].value;

           $('custom_tab_text_walmart_parent').value = strUser1;
           
        }else{
          $('custom_tab_text_walmart_parent').value = '';
        }
 //test code
           // for post selected id to save category observer
         if(check == 'parent'){
             removeValidationMessagewalmart();
             if($('c_id_map_walmart') || (strUser == 'na') ){$('c_id_map_walmart').remove();if($('sc_id_map_walmart')){$('sc_id_map_walmart').remove();}}
             if(strUser != 'na'){
                 var content = new Element('select' , {'class' : 'c_class_map_walmart' , 'id' : 'c_id_map_walmart' , 'onchange' : 'childCategorywalmart("c_id_map_walmart","child")' });
                 content.insert(new Element('option' , {'value' : 'na' } ).update('Please Choose Child Category ..'));
                 for (var key in js_level_1_json) {
                     if(key == strUser){
                         for (var subkey in js_level_1_json[key]){
                             if(subkey == parent){
                            
                                 content.insert(new Element('option' , {'value' : subkey ,'selected' : 'selected' } ).update(js_level_1_json[key][subkey]));
                                 if(subkey != 'Other'){
                                 
                                 $('custom_tab_text_walmart').value = parent;
                               }
                                 if(subkey == 'Other'){
                                 $('custom_tab_text_walmart').value = key;
                                 $('custom_tab_text_walmart_parent').value = strUser;
                                 }
                             }else{
                                 content.insert(new Element('option' , {'value' : subkey } ).update(js_level_1_json[key][subkey]));

                             }
                         }
                     }
                     //content.setStyle({margin: '0 0 0 14'});
                     $('pro_walmart').insert(content);
                     $('c_id_map_walmart').setStyle({
                         'margin-right' : '14px'
                     });

                 }
             }else{
                 $('custom_tab_text_walmart').value = '';
             }
         }
       }
       }

  var content = new Element('select' , {'class' : 'p_class_map_walmart' , 'id' : 'p_id_map_walmart' , 'onchange' : 'childCategorywalmart("p_id_map_walmart","parent")' });
  content.insert(new Element('option' , {'value' : 'na' } ).update('Please Choose Category ..'));
  var js_level_0_json = <?php echo $json_parent_arr ?>;
  var js_level_1_json = <?php echo $json_child_arr ?>;
  //var js_level_2 = <?php //echo $json_subchild_arr ?>;
  var child = '<?php echo $child; ?>';
  var parent = '<?php echo $parent; ?>';
  var root = '<?php echo $root; ?>';
  
  // saved data to select 
  var parent_id = '<?php echo $walmartMappedParent_id ?>';
  var parent = '<?php echo $walmartMappedChild_id ?>';

  for (var key in js_level_0_json) {
      if(key == parent_id){
      content.insert(new Element('option' , {'value' : key , 'selected' : 'selected' } ).update(js_level_0_json[key]));
      }
      else{
        content.insert(new Element('option' , {'value' : key } ).update(js_level_0_json[key]));
      }
    }


  //content.setStyle({margin: '0 0 0 14'});

     if($('pro_walmart')){$('pro_walmart').insert(content);}

  var myElem = document.getElementById("p_id_map_walmart");
  if(myElem != null)
  {
    myElem.style.marginRight = "14px";
  }

   var myElem1 = document.getElementById("c_id_map_walmart");
  if(myElem1 != null)
  {
    myElem1.style.marginRight = "14px";
  }
  if(child != ''){childCategorywalmart('p_id_map_walmart','parent');childCategorywalmart('c_id_map_walmart','child')}
  else if (parent != '') {childCategorywalmart('p_id_map_walmart','parent')}

</script>