<?php
/**
  * CedCommerce
  *
  * NOTICE OF LICENSE
  *
  * This source file is subject to the Academic Free License (AFL 3.0)
  * You can check the licence at this URL: http://cedcommerce.com/license-agreement.txt
  * It is also available through the world-wide-web at this URL:
  * http://opensource.org/licenses/afl-3.0.php
  *
  * @category    Ced
  * @package     Ced_Walmart
  * @author      CedCommerce Core Team <connect@cedcommerce.com>
  * @copyright   Copyright CEDCOMMERCE (http://cedcommerce.com/)
  * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
  */
?>

  <?php 

$getSession =Mage::getSingleton('core/session')->getGlobalnotice();
if($getSession!='read')
{ 
  $resource = Mage::getSingleton('core/resource');
  $readConnection = $resource->getConnection('core_read');
?>

<!-- Show walmart orders Notifications -->

<?php $tableName = $resource->getTableName('walmart/walmartorder'); 
    // $tableimport_order = $resource->getTableName('walmart/orderimport'); // import failed order table   
   
   $query = 'SELECT count(*) as `countdata` FROM '. $tableName .' where status = "Acknowledged"';
   $orderAckArray = $readConnection->fetchCol($query);
   
   //$query_ready = 'SELECT count(*) FROM '. $tableName .' where status = "ready"'; 
   //$Order_ready_array = $readConnection->fetchCol($query_ready);
   
   
   // fetch count for failed orders
   //$query_2 = 'SELECT count(*) as `counterror` FROM '.$tableimport_order;
   //$Order_error = $readConnection->fetchCol($query_2);
   
?>
<!-- Show walmart acknowledge orders Notifications -->
<?php if(count($orderAckArray)>0 && $orderAckArray[0]!='' && $orderAckArray[0]>0 ){?>
  <div class="notification-global">
    <strong class="label">Latest Message:</strong>   <b><?php echo $orderAckArray[0]; ?></b> new order imported from  <a target="_blank" href="http://walmart.com/"><b>Walmart.com</b></a> & <b>Auto Acknowledged</b>  into your site. Kindly ship them.<a href="<?php echo  Mage::helper('adminhtml')->getUrl('adminhtml/adminhtml_walmartorder/walmartorder'); ?>">View</a> 
    <a class="walmart_global_message_read" onclick ="callController()" style="display: block" title="<?php echo $this->__('Mark as a read') ?>"style="font-family: wingdings; font-size: 200%;">&#10004;</a>

    <a href="javascript:void(1)" class="walmart_global_messages_close" style="display: block" title="<?php echo $this->__('Hide messages') ?>">&times;</a>
  </div>
<?php } ?>

<script>
$$('.walmart_global_messages_close').each(function(element) {
    element.observe('click', respond);
})
function respond(event) {
   this.parentNode.style.display = 'none';
}
</script>
<script>
var url = "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/adminhtml_walmartfetchattrval/notice') ?>";

 function callController(){
  new Ajax.Request(url, {
               method: 'post',
              parameters: { form_key: FORM_KEY},
               onComplete: function(transport) {
                  
                  var elem1 = document.getElementsByClassName('loader');
                   for (var i = 0; i < elem1.length; i++)
                   {
                elem1[i].style.display = 'none';
              }
                  var elem2 = document.getElementsByClassName('notification-global');
                   for (var i = 0; i < elem2.length; i++)
                   {
                elem2[i].style.display = 'none';
              }
               }
           });

}
</script>
  <style>
  .walmart_global_messages {
  position: relative;
  z-index: 9999;
}
.walmart_global_messages_close {
  position: absolute;
  top: 5px;
  right: 13px;
  z-index: 10000;
  display: block;
  width: 15px;
  height: 15px;
  background: #666;
  text-align: center;
  color: #fff;
  font-size: 15px;
  line-height: 15px;
  text-decoration: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.walmart_global_message_read{
  text-decoration: none;
  position: absolute;
  bottom: 6px;
  cursor: pointer;
  font-size: 15px;
  right: 35px;
  width: 15px;
  height: 15px;
  color: #01DF01;
}
  </style>
<?php 
  }
?>
