<?php 
    $urlforTaxCodeGet = $this->getUrl('adminhtml/adminhtml_walmartrequest/taxcode');
?>

<div id="taxcode" style="display:none;">
    <div  style="background: #ccc none repeat scroll 0 0;  padding: 10px;  position: sticky;  text-align: center;  top: 88px;  width: 715px;">
        <div style="text-align:center">Search Term <input type ="text" id="tax_search"/> &nbsp; &nbsp;<input type="button" value="Search" onclick="javascript:searchTaxCode()" />
        </div>
        <div style="margin-top:25px;"><label id="selected_tax_code_top"> </label></div>
        <div style="clear:both"></div>
    </div>
   <!--  <div id="resultantTaxCodes">
        <table id="resultantTaxCodes">
            
        </table>

    </div> -->
    <table id="resultantTaxCodes" class="data-grid" style="display:none;padding: 22px;">
        <!-- <tr>
            <th style="padding:5px">
               <label class="data-grid-cell-content">Tax Code</label>
            </th>
            <th style="padding:15px">
                <label class="data-grid-cell-content">Category</label>
            </th>
            <th style="padding:15px">
                <label class="data-grid-cell-content">Category Description</label>
            </th>
            <th style="padding:15px">
                <label class="data-grid-cell-content">Action</label>
            </th>
        </tr> -->
    </table>
    <div id="error_fetch" style="display:none">
    </div>
</div> 



<input id="walmart_configuration_productinfo_map_walmart_tax_code" name="groups[productinfo_map][fields][walmart_tax_code][value]" value="2038375" class=" input-text" type="text">&nbsp; &nbsp;<br/><input type="button" value="Search Tax Code" onclick="javascript:getTaxCode();" style="margin-top:10px;">

<script>
    function getTaxCode(){

        oPopup = new Window({
            id:"browser_window",
            className: "magento",
            windowClassName: "popup-window",
            title: "Missing Attributes",
            width: 750,
            height: 500,
            minimizable: false,
            maximizable: false,
            showEffectOptions: {
            duration: 0.4
            },
            hideEffectOptions:{
            duration: 0.4
            },
            destroyOnClose: true
        });
        oPopup.setZIndex(100);
        oPopup.showCenter(true);
        /*oPopup.setDestroyOnClose(){

        }*/
        
        oPopup.setContent("taxcode",false,false);

        $('browser_window_close').observe('click', respondToClick);
    }

    
    function respondToClick(event) {
          document.getElementById('taxcode').setStyle({display:'none'});
    }

    function searchTaxCode(){
        var searchTerm = document.getElementById('tax_search').value;
         new Ajax.Request("<?php echo $urlforTaxCodeGet ?>", {
                method: 'Post',
                parameters: {"searchTerm":searchTerm},
                onComplete: function(transport) {
                    // if(transport.responseText == "Success"){
                        if (transport.responseText.isJSON()) {
                            transport = transport.responseText.evalJSON();
                            }
                        var json = transport.result;
                        var size = transport.size;
                        if(size != 0){
                            var html = '<thead><th><label class="data-grid-cell-content">Tax Code</label></th><th style="padding:15px"><label class="data-grid-cell-content">Category</label></th><th style="padding:15px"><label class="data-grid-cell-content">Category Description</label></th><th style="padding:15px"><label class="data-grid-cell-content">Action</label></th></tr></thead><tbody>';
                            for( var i= 0 ;  i < size ; i++){
                                html += '<tr><td>'+json[i].tax_code+'</td><td>'+json[i].sub_cat_desc+'</td>' +
                                    '<td>'+json[i].cat_desc+'</td>' +
                                    '<td>' +
                                    '<button onclick = "$(\'walmart_configuration_productinfo_map_walmart_tax_code\').value = \''+json[i].tax_code+'\' ; $(\'selected_tax_code_top\').innerHTML = \' Selected Tax Code - <b>'+json[i].tax_code+'</b>\'">Select</button></td></tr>';
                            }
                            html += '</tbody>';

                            $('resultantTaxCodes').innerHTML = html;
                            $('resultantTaxCodes').setStyle({display:'block'});
                            // document.getElementById('resultantTaxCodes').innerHTML = document.getElementById('resultantTaxCodes').innerHTML + html ;
                            // $('taxcode').attr('style','display:block;padding: 22px;');
                        }
                        else{
                            $('resultantTaxCodes').innerHTML = '';
                            $('resultantTaxCodes').setStyle({display:'none'});

                            $('error_fetch').insert('<h3> No Match Found . </h3>');
                            $('error_fetch').setStyle({display:'block',padding: '22px'});
                        }
                }
        });
    }
</script>