<?php 
    $url = $this->getUrl('adminhtml/adminhtml_walmartrequest/validate');
?>

<div id="validate_message"></div> 
<input type="button" value="Validate API" onclick="Validate12();">
<script>
    function Validate12(){

       var consumerId = document.getElementById('walmart_configuration_walmartsetting_walmart_customerId').value;
       var privateKey = document.getElementById('walmart_configuration_walmartsetting_walmart_privatekey').value;
       var fetchorderstartdate = document.getElementById('walmart_configuration_walmartsetting_walmart_fetchstartdate').value;
       var apiurl = "https://marketplace.walmartapis.com/v3/orders";
       var consumerchanneltypeid = document.getElementById('walmart_configuration_walmartsetting_walmart_channelId').value;

        new Ajax.Request("<?php echo $url ?>", {
                method: 'Post',
                parameters: {"url":apiurl,"requestMethod": 'GET','createdStartDate': fetchorderstartdate,'consumerchanneltypeid':consumerchanneltypeid,
                    "consumerId":consumerId,"privateKey":privateKey},
                onComplete: function(response) {
                    if (response.responseText.isJSON()) {
                            response = response.responseText.evalJSON();
                            result = response.message;
                        }
                    if (response.valid == 1) {
                        result = '<?php  echo __('Validation Successfully') ?>';
                        document.getElementById('validate_message').setStyle({color:'green'})
                    } else {
                        document.getElementById('validate_message').setStyle({color:'red'})
                    }
                    document.getElementById('validate_message').innerHTML = result;                    
                }
        });
    }
</script>