<?php
/**
  * CedCommerce
  *
  * NOTICE OF LICENSE
  *
  * This source file is subject to the Academic Free License (AFL 3.0)
  * You can check the licence at this URL: http://cedcommerce.com/license-agreement.txt
  * It is also available through the world-wide-web at this URL:
  * http://opensource.org/licenses/afl-3.0.php
  *
  * @category    Ced
  * @package     Ced_Walmart
  * @author      CedCommerce Core Team <connect@cedcommerce.com>
  * @copyright   Copyright CEDCOMMERCE (http://cedcommerce.com/)
  * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
  */
?>

<?php 
$_htmlId      = $this->getElement()->getHtmlId();
$_htmlClass   = $this->getElement()->getClass();
$_htmlName    = $this->getElement()->getName();
$_readonly    = $this->getElement()->getReadonly();
//$collection = Mage::registry('rkstorelocator_data')
               // ->getOpeningHours()
               // ->setOrder('sortorder', 'ASC');

$_counter = 0;
$return='';
$shipping_methods=array();

if(Mage::registry('return_data')){
    $return=Mage::registry('return_data');
    $shipping_methods=$return['return_shipping_methods'];
}


?>
<tr>
    <td class="label"><?php echo $this->getElement()->getLabel() ?></td>
    <td colspan="10" class="grid hours tier">
        <table id="attribute-options-table" class="dynamic-grid data border rkstorelocator-officehours" cellspacing="0" cellpadding="0">
        <tbody id="attribute-options-table-ship-body">
            <tr class="headings">
                <th><?php echo $this->__('Shipping Method') ?></th>
                <th class='a-center last'><button id="add_new_option_ship_button" title="Add Option" type="button" class="scalable add"><span><span><span><?php echo $this->__('Add Option') ?></span></span></span></button></th>
            </tr>
            <?php if(count($shipping_methods)>0){?>
                    <?php for($i=0;$i<count($shipping_methods);$i++){?>
                    <tr class="option-row rkstorelocator-officehours-dayrow" id="ship-hour-row-<?php echo $_counter;?>"><td><input name="<?php echo $_htmlName; ?>[value][<?php echo $_counter;?>]" value="<?php echo $shipping_methods[$i];?>" class="input-text" type="text"></td><td class="a-center last" id="delete_button_container_option_<?php echo $_counter;?>"><input id="ship-delete-row-<?php echo $_counter;?>" type="hidden" class="delete-flag" name="<?php echo $_htmlName; ?>[delete][<?php echo $_counter;?>]" value=""/><button onclick="$('ship-hour-row-<?php echo $_counter;?>').style.display='none'; $('ship-delete-row-<?php echo $_counter;?>').setValue(1);" title="Delete" type="button" class="scalable delete delete-option"><span><span><span>Delete</span></span></span></button></td></tr>
                    <?php $_counter ++;?>
                    <?php }?>
            <?php }?>
        </tbody>
</table>

<script type="text/javascript">//<![CDATA[

var _form_html_row1 = '<tr class="option-row rkstorelocator-officehours-dayrow" id="ship-hour-row-{{id}}"><td><input name="<?php echo $_htmlName; ?>[value][{{id}}]" value="" class="input-text" type="text"></td><td class="a-center last" id="delete_button_container_option_{{id}}"><input id="ship-delete-row-{{id}}" type="hidden" class="delete-flag" name="<?php echo $_htmlName; ?>[delete][{{id}}]" value=""/><button onclick="$(\'ship-hour-row-{{id}}\').style.display=\'none\'; $(\'ship-delete-row-{{id}}\').setValue(1);" title="Delete" type="button" class="scalable delete delete-option"><span><span><span>Delete</span></span></span></button></td></tr>';

var _rkstorelocator_counter1 = <?php echo $_counter?>;

$('add_new_option_ship_button').observe('click', function(){
    $('attribute-options-table-ship-body').insert(_form_html_row1.replace(/\{\{id\}\}/ig, _rkstorelocator_counter1));
    _rkstorelocator_counter1++;
});

//]]></script>
<p class="note">
    <span>Add a shipping method e.g. UPS Ground,UPS 3 Day Select,UPS 2nd Day Air.</span>
</p>
    </td>
</tr>

