<?php
/**
  * CedCommerce
  *
  * NOTICE OF LICENSE
  *
  * This source file is subject to the Academic Free License (AFL 3.0)
  * You can check the licence at this URL: http://cedcommerce.com/license-agreement.txt
  * It is also available through the world-wide-web at this URL:
  * http://opensource.org/licenses/afl-3.0.php
  *
  * @category    Ced
  * @package     Ced_Walmart
  * @author      CedCommerce Core Team <connect@cedcommerce.com>
  * @copyright   Copyright CEDCOMMERCE (http://cedcommerce.com/)
  * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
  */
?>

<?php 
$collection = $this->getErrorProductDetails();

if(sizeof($collection)>0){
	$errorBatchProducts = $collection->getMagentoBatchInfo();
		if($errorBatchProducts != null){
			$allProducts = explode(',',$errorBatchProducts);
			
		}

}
// bypass 
$allProducts = isset($allProducts)?$allProducts:false;
	if(sizeof($allProducts)>0){
	
?>	
	<div class="entry-edit">
		<div id="example_form" class="fieldset ">
			<div class="content-header">
				<table cellspacing="0">
					<tbody>
						<tr>
							<td style="width:50%;">
								<h3 class="icon-head head-report-customer-totals">
									Batch Produts Listing in File : 
									<?php
									if(Mage::registry('errorfile_collection')->getData('file_name')) { 
										echo Mage::registry('errorfile_collection')->getData('file_name');
									}?>
								</h3>
							</td>
							<td class="form-buttons"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="grid">
				<table cellspacing="0" id="gridTotalsCustomer_table" class="data">
					<colgroup>
						<col>
						<col>
						<col width="100">
							</colgroup>
								<thead>
									<tr class="headings">
										<th style="width:100px" class="no-link"><span class="no-br">#</span></th>
										<th style="width:200px" class="no-link"><span class="no-br">Product Id</span></th>
										<th style="width:500px"class="no-link"><span class="no-br">Product Name</span></th>
										<th style="" class="no-link"><span class="no-br">SKU</span></th>	
										<th style="" class="no-link"><span class="no-br">Action</span></th>
									</tr>
								</thead>
						<tbody>
							<?php 
								$i = 1;
								//foreach($allProducts as $id){	
									//$product = Mage::getModel('catalog/product')->load($id);
							?>
								<tr class="<?php if($i%2==0){ echo 'even'; } ?> ">
									<td><?php echo $i; ?></td>
									<td><?php // echo $id; ?></td>
									<td class="">
										<?php //echo $product->getName(); ?>
									</td>			
									<td class=""><?php //echo $product->getSku(); ?></td>
									<td class="">
										<a target="_blank" href="<?php //echo Mage::helper('adminhtml')->getUrl('adminhtml/catalog_product/edit',array('id'=>$product->getId())) ?>">Edit</a>
									</td>
								</tr>
							<?php 
								++$i;
						//	}?>															
						</tbody>
				</table>
			</div>
		</div>			
	</div>
	
<?php }	 ?>
