<?php
/**
  * CedCommerce
  *
  * NOTICE OF LICENSE
  *
  * This source file is subject to the Academic Free License (AFL 3.0)
  * You can check the licence at this URL: http://cedcommerce.com/license-agreement.txt
  * It is also available through the world-wide-web at this URL:
  * http://opensource.org/licenses/afl-3.0.php
  *
  * @category    Ced
  * @package     Ced_Walmart
  * @author      CedCommerce Core Team <connect@cedcommerce.com>
  * @copyright   Copyright CEDCOMMERCE (http://cedcommerce.com/)
  * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
  */

$walmartAttId = "";
$show_note = false; 

if($attr = $this->getWalmartAttr()){
	$walmartAttId = $attr->getWalmartAttrId();
	$walmartattribute = Mage::getModel('walmart/walmartattribute');
	$collection = $walmartattribute->getCollection()->addFieldToFilter('walmart_attr_id', $walmartAttId)->getData();

        $updated_data = json_decode($collection[0]['walmart_attr_val'],true);
}
$mattrid =$this->getRequest()->getParam('attribute_id');
	if(isset($mattrid)){ 
		$resource = Mage::getSingleton('core/resource');
		$table = $resource->getTableName('walmart/walmartattribute');
		$readconnection = $resource->getConnection('core_read');
		$query = 'SELECT * FROM ' . $table . ' WHERE `magento_attr_id`='.$mattrid.'';
		$row = $readconnection->fetchRow($query);	
		
		$options_array = array();
		if(count($row)>0){
			$show_note = true;
			if($row['freetext'] ==2){
				if($row['unit']!=null){
					$options_array = explode(",",$row['unit']);
				}
			}else if($row['freetext'] ==0){ 
				if($row['list_option']!=null){
					$options_array = explode(",",$row['list_option']);
				}
			}
		}
}
?>
<div class="entry-edit">
   <div class="entry-edit-head">
      <h4 class="icon-head head-edit-form fieldset-legend">Walmart Attribute Relation</h4>
      <div class="form-buttons"></div>
   </div>
   <div id="base_fieldset" class="fieldset ">
   	 <!--<p>Pick up <strong>Walmart Attribute id</strong> From the <b>Id</b> column of <strong>Walmart_Taxonomy_attribute.csv which you tink it should be mapped from your magneto Attribute & then select "Yes" for Map to Walmart Attibute dropdown.</strong></p> -->
      <div class="hor-scroll">
         <table cellspacing="0" class="form-list">
            <tbody>
               <tr>
                  <td class="label"><label for="walmart_attribute_code">Walmart Attribute Id</label></td>
                  <td class="value">
                  
                  	<input type="text" class="validate-not-negative-number input-text" title="Attribute Code" value="<?php echo $walmartAttId; ?>" name="walmart_attribute_id" id="walmart_attribute_id">
                  	
                      <button style="" onclick ="callController()" id ="fetch_attr_val" class="scalable " type="button" title="Validate"><span><span><span>Validate</span></span></span></button>
                 
                      <p>
                          Can't find walmart atrribute id? <a target="_blank" href="<?php echo $this->getUrl('adminhtml/adminhtml_walmartattrlist/categorylist') ?>">Click here</a> and check 'view attribute details' column against each category.

                       </p>
					 
					 
                  </td>
			   </tr>  
			   <tr>
            </tbody>
         </table>
	  </div>
	  
	 
	  <div class="appended_div" id="appended_div"> &nbsp;</div>
	  <div id="saved_walmart_mapp">
	  
	  
	 
	  <?php 
    if(isset($updated_data))
    if(count($updated_data)>0)
    {
     ?>
     <table border="2px">
   <th>Magento Attribute Value</th>
    <th>Walmart Attribute Value</th>
    <th>Action</th>
     <?php foreach($updated_data as $keyy=>$vall)
    { ?>
    <tr>
    <td><?php echo $keyy;?> </td>
    <td><?php echo $vall;?> </td>
    <td><button onclick ="deleteMapping('<?php echo $keyy ?>')" class="scalable" id ="delete_attr_val" type="button" title="Delete"><span><span><span>Delete</span></span></span></button></td>
    </tr>
    <?php }
    ?></table>
    <?php }
    ?>
    
	 </div>
   </div>
   
</div>

<script type="text/javascript">
//var k = "<?php echo Mage::getSingleton('core/session')->getFormKey() ?>";
var url = "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/adminhtml_walmartfetchattrval/fetch') ?>";
var url1 = "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/adminhtml_walmartfetchattrval/map') ?>";
var url2 = "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/adminhtml_walmartfetchattrval/delete') ?>";
 function callController(){
 	var walmartattrid = document.getElementById("walmart_attribute_id").value;
 	var magento_att_code = document.getElementById("attribute_code").value;
	new Ajax.Request(url, {
               method: 'post',
              parameters: { form_key: FORM_KEY,  walmart_id: walmartattrid , mag_att_code:magento_att_code},
               onComplete: function(transport) {
               		//document.getElementById("appended_div").appendChild(transport);
                   //$(#appended_div).html(transport);
                   //var html = new Element('div');
       // html.update(transport.responseText);
        // There may be many .SOME-CLASS so use `invoke` to iterate through them
        document.getElementById('appended_div').innerHTML=transport.responseText;//.responseText
        //$$('.appended_div').update(transport.responseText);
               }
           });

}
function saveMapping()
{
	var walmartattrid = document.getElementById("walmart_attribute_id").value;
	var walmartattrval = document.getElementById("walmart_attr_vals").value;
 	var magattrval = document.getElementById("mag_attr_vals").value;
 	
 	new Ajax.Request(url1, {
               method: 'post',
              parameters: { form_key: FORM_KEY,  walmart_id: walmartattrid, walmartattrval: walmartattrval , magattrval:magattrval},
               onComplete: function(transport) {
               		document.getElementById('saved_walmart_mapp').innerHTML=transport.responseText;
               }
           });
}
function deleteMapping(value)
{
  var walmartattrid = document.getElementById("walmart_attribute_id").value;
  var walmart_val = value;
  new Ajax.Request(url2, {
               method: 'post',
              parameters: { form_key: FORM_KEY,  walmart_id: walmartattrid, walmart_val: walmart_val},
               onComplete: function(transport) {
                  document.getElementById('saved_walmart_mapp').innerHTML=transport.responseText;
               }
           });
  
}
</script>